*{

	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
	line-height: 1.5;
}
.menu_bar{
	background-color: white;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
}
.menu_bar ul{
	list-style: none;
	display: flex;
}
.menu_bar ul li{
	padding: 10px 30px;
	position: relative;
}
.menu_bar ul li a{
	color: black;
	text-decoration: none;
	font-size: 20px;
	transition: all 0.3s;
}
.menu_bar ul li a:hover{
	color: blue;
}
.dm{
	display: none;
}
 .menu_bar ul li:hover .dm{
 	display: block;
 	position: absolute;
 	left: 0;
 	top:100%;
 	background-color: white;
 }
 .menu_bar ul li:hover .dm ul{
 	display: block;
 	margin: 10px;
 }
 .menu_bar ul li:hover .dm ul li{
 	width: 150px;
 	padding: 10px;
 }
 .fas{
 	float: right;
 	margin-left: 10px;
 	padding-top:3px ;
  }
   
 .dm2{
 	display: block;
 	position: absolute;
 	top: 0;
 	left: 150px;
 	background-color: white;
 }
 .dm3{
 	display: block;
 	position: absolute;
 	top: 0;
 	left: 300px;
 	background-color:white;
 }
 .dm4{
 	display: block;
 	position: absolute;
 	top: 0;
 	left: 450px;
 	background-color:white;
 }
.somnath-temple-banner img{
 	width: 200%;
 	height: 400px;
 	object-fit: cover;
 }
 .img-fluid{
 	max-width: 100%;
    height: auto;
 }
 .section{
 	width: 100%;
 	min-height: 100vh;
 	background-color:#ddd;
 }
 body{
 	background-color: white;
 }
 .heading{
 	text-align: center;
 	margin-top: 25px;
 }
 .heading h1{
 	font-size: 50px;
 	color: black;
 	margin-bottom: 10px;
 }
 .heading p{
 	font-size: 20px;
 	color: #666;
 	margin-bottom: 50px;
 }
 .about-us{
 	 display: flex;
   align-items: center;
   width: 85%;
   margin:50px;
 }
 .about-us img{
 	 flex: 0 50%;
   max-width: 50%;
   height: auto;
 }
  
 .content{
 	padding: 35px;
 }
 .content h2{
 	color: crimson;
 	font-size: 24px;
 	margin: 15px 0px;
 }
 .content p{
 	color: black;
 	font-size: 18px;
 	line-height: 1.5;
 	margin: 15px 0px;
 }
  .img1{
  	float: right;
  	width: 40%;
  }
    .content1{
   padding: 35px;
 }
  .content1 h2{
  color: black;
  font-size: 24px;
  margin: 5px 0px;
 }
 .content1 p{
   color: black;
   font-size: 18px;
   line-height: 1.8;
   margin: 15px 10px;
 }
   
  .body{
  	display: flex;
  	justify-content: center;
  	height: 100vh;
  	background: whitesmoke;
  	align-items: center;
  }
  .heading1{
 	text-align: center;
 	margin-top: 25px;
 }
 .heading1 h1{
 	font-size: 50px;
 	color: black;
 	margin-bottom: 10px;
 }
 .heading1 p{
 	font-size: 20px;
 	color: #666;
 	margin-bottom: 50px;
 }
  .container1{
    display: flex;
  }
  .card{
  	height: 150px;
  	margin: 50px;
  	box-shadow: 5px 5px 20px black;
  	overflow: hidden;
  }
  
  .img2{
  	height: 145px;
  	width: 250px;
  	border-radius: 3px;
  }
.intro{
	height:  50px;
	width: 250px;
	padding: 6px;
	box-sizing: border-box;
	position: absolute;
    nav-down: 210px;
	background: rgb(40, 40, 40, .5);
	color: white;
	transition: .5s;

}
.h1{
	margin: 10px;
	font-size: 40px;
}
.p{
	font-size: 20px;
	margin: 20px;
	visibility: hidden;
	opacity: 0;
}
span{
	font-weight: bold;
}
.card:hover{
	cursor: pointer;
}
.card:hover .intro{
	height: 220px;
	nav-down: 240px;
	background: black;
}
.card:hover p{
	opacity: 1;
	visibility: visible;
}
.card:hover img{
	transform: scale(1.1) rotate( .3deg);
}
.container2{
    max-width: 1170px;
    margin:auto;
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer
{
    margin-top: 180px;
    background-color: #101010;
    padding:  30px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
 margin-bottom: 10px;
}
.footer-col ul li a{
 font-size: 16px;
 text-transform: capitalize;
 color:#ffffff;
 text-decoration: none;
 font-weight: 300;
 color: #bbbbbb;
 display:red;
 transition: all 0.3s ease;
}
.footer-col .Social-links a{ 
 display: inline-block;
 height: 40px;
 width: 40px; 
 background-color: rgba(255,255,255,0.2);
 margin: 0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease; 
} 
.footer-col .Social-links a:hover{
    color: #242624;
    background-color: #ffffff;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
 }
 