* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.carousel-inner{
    width:100%;
    height: 60vh;
}
/* .banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
     width:100%;
     height: 100vh;
     background-size:cover;
     background-position: center;
}  */
.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 35px 0;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #160707b6;
    text-transform: uppercase;
}

.navbar ul li::after {
        {
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }

    .navbar ul li:hover::after {
        width: 100%;
    }

    .content {
        width: 100%;
        position: absolute;
        /* top:50%; */
        /* transform:translateY(-50%); */
        text-align: center;
        color: #d6d1d1e1;
    }

    .content h1 {
        font-size: 70px;
        margin-top: 80px;
    }
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,500&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer
{
    background-color: #101010;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
/* .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
 margin-bottom: 10px;
}
.footer-col ul li a{
 font-size: 16px;
 text-transform: capitalize;
 color:#ffffff;
 text-decoration: none;
 font-weight: 300;
 color: #bbbbbb;
 display:red;
 transition: all 0.3s ease;
}
.footer-col .Social-links a{ 
 display: inline-block;
 height: 40px;
 width: 40px; 
 background-color: rgba(255,255,255,0.2);
 margin: 0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease; 
} 
.footer-col .Social-links a:hover{
    color: #242624;
    background-color: #ffffff;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
/* body{
    background: #fcfcfc;
}






} */ */

/* .f-footer
{
    background-color: #24262b;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: aliceblue;
}
.container{
    max-width: 1170px;
    background-color: aqua;
    margin:auto;
}
.button{
    background-color: blue;
}
.footer-col{
    background-color: aqua;
} */